<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
<template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <input placeholder="email" type="email" value="{{email::input}}"></input><!-- linkado 2 ways -->
  <input placeholder="password" type="password" value="{{password::input}}"></input>

  <button on-click="login">Login</button>

  <!-- hidden, si tiene true no se ve, si es false se ve
       $ para coger el dom del objeto interno
  -->
  <span hidden$="{{!isLogged}}">Bienvenido de nuevo!!</span>

   <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga
        El ID es la referencia para invocar a Ajax en programacion
  -->
  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="post"
    on-response="manageAjaxResponse"
    on-error="showError">

<!-- Para iron-ajax:  en el id se indica un nombre cualquiera -->
<!-- Para iron-ajax:  url ponemos la url del postman con http y el id con variable two-way -->
<!-- Para iron-ajax:  handle-as para que admita el json -->
<!-- Para iron-ajax:  ponemos una función manejadora en el  on-response -->

</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class LoginUsuario extends Polymer.Element {
    static get is() { return 'login-usuario'; } // Nombre de la etiqueta HTML cuando la implementemos
    static get properties() {
      return {
        email: {
          type: String
        },
        password: {
          type: String
        },
        isLogged: {
          type: Boolean,
          value : false
        },
        id: {
          type: Number
        }
      };
    }

    //Definimos otra función:
    manageAjaxResponse(data){
      console.log("Llegaron los resultados");
      console.log(data.detail.response); //esto llega del backend

      this.isLogged = true;

      window.location = "user/" + data.detail.response.idUsuario;
    }

    login(){
      console.log("El usuario ha pulsado el boton");
      console.log("voy a enviar la peticion");

      var loginData = {
        "email" : this.email,
        "password" : this.password
      };

      // Invocamos a la función Iron Ajax
      // this.$ referenciamos a un elemnto del DOM local de polymer
      this.$.doLogin.body = JSON.stringify(loginData);

      // enviamos la peticion
      this.$.doLogin.generateRequest();

      console.log("petición enviada");
    }

    showError(error){
      console.log("hubo un error");
      console.log(error);
    }
  }
  window.customElements.define(LoginUsuario.is, LoginUsuario);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
</script>
</dom-module>
