<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
<template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h2>Soy el emisor</h2>
  <button on-click="sendevent">No pulsar</button>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class EmisorEvento extends Polymer.Element {
    static get is() { return 'emisor-evento'; } // Nombre de la etiqueta HTML cuando la implementemos
    static get properties() {
      return {

      };
    }

    sendevent(e){
      console.log("pulsado el boton");
      console.log(e);

      this.dispatchEvent(
        new CustomEvent(
          // no poner mayusculas en el nombre del evento
          "myevent",
          // payload que queremos enviar
          {
            "detail" : {
              "course" : "TechU",
              "year" : 2018
            }
          }
        )
      );
    }
  }


  window.customElements.define(EmisorEvento.is, EmisorEvento);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
</script>
</dom-module>
